@import url("/home/blue-ribbon/.cache/wal/colors-waybar.css");
@define-color bg @background; 
@define-color fg @foreground; 

* {
    all: unset;
    border: none;
    /* border-radius: 0; */
    font-family: "JetBrains Mono", Helvetica, Arial, sans-serif;
    margin: -1px;
    min-width: 0;
    /* font-size: 16px; */
}

window#waybar {
    min-width: 39px;
    padding: 0 4px;
    margin: -1px;
    /* background: @bg; */
}
.modules-left {
    background-color: @bg;
    border-radius: 100px;
    margin: 8px 0;
    padding: 8px 0;
}
.modules-middle {
    background-color: @bg;
    padding: 8px 0;
}
.modules-right {
   background-color: @bg;
   border-radius: 100px;
   margin: 8px 0;
   padding: 8px 0;
}
#workspaces {
    /* background-color: transparent; */
    background-color: @bg;
    border-radius: 100px;
    padding: 8px 0;
    min-width: 20px;
}
#workspaces button {
    background-color: @color1;
    color: @bg;
    margin: 3px 10px;
    padding: 8px 0;
    border-radius: 100px;
    min-width: 20px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    border: 0.5px @color8 solid;
}
#workspaces button.active {
    background-color: @color6;
    color: @bg;
    padding: 36px 0;
    transition: all 0.6s cubic-bezier(.2,1.26,.88,.94);
}
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.9); */
    opacity: 0.6;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}
/* the left-most workspaces and the right-most workspaces */
.modules-left > widget:first-child > #workspaces {
    margin-top: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-bottom: 0;
}

#clock {
    font-family: "DepartureMono Nerd Font", "Tourney Expanded", FontAwesome, sans-serif;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 0;
    color: @color5;
}

#audio {
    background-color: @color5;
    opacity: 0.9;
    margin: 2px 4px;
    padding: 8px 0;
    border-radius: 16px;
}
#pulseaudio {
    background-color: transparent;
    color: @bg;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#pulseaudio.muted {
    background-color: transparent;
    color: @color9;
}
#pulseaudio-slider {
    margin: 4px 0;
    min-height: 100px;
    padding: 6px 0;
    background-color: transparent;
}
#pulseaudio-slider slider {
    border-radius: 10px;
}
#pulseaudio-slider trough {
    min-height: 100px;
    min-width: 10px;
    border-radius: 5px;
    background: @color7;
}
#pulseaudio-slider highlight {
    border-radius: 5px;
    background: @color1;
}

#hardware {
    background-color: @color5;
    opacity: 0.9;
    color: @bg;
    margin: 0px 4px;
    padding: 8px 0;
    border-radius: 16px;
}
.hardware-modules {
    font-family: "Bitcount Single Thin";
    font-size: 10px;
    padding: 14px 0;
}
/*
#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: rgb(107, 145, 70);
}
#power-profiles-daemon.performance {
    background-color: transparent;
    color: rgb(228, 53, 53);
}
#power-profiles-daemon.balanced {
    background-color: transparent;
    color: rgb(60, 217, 183);
}
*/
#network {
    background-color: @color5;
    opacity: 0.9;
    color: @bg;
    margin: 0px 4px;
    padding: 8px 0;
    border-radius: 16px;
}
#network.disconnected {
    background-color: @color4;
    color: white;
}

#backlight {
    background-color: @color5;
    color: @bg;
    opacity: 0.9;
    margin: 2px 4px;
    padding: 6px 0;
    border-radius: 16px;
}

#battery {
    background-color: @color5;
    opacity: 0.9;
    color: @bg;
    margin: 2px 4px ;
    padding: 6px 0;
    border-radius: 16px;
}
#battery.good {
    background-color: @color5;
}
#battery.warning {
    background-color: rgb(235, 208, 91);
}
#battery.warning {
    background-color: rgb(228, 53, 53);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 4px;
}
tooltip label {
  color: white;
  opacity: 1.0;
}
