* {
    all: unset;
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", Helvetica, Arial, sans-serif;
    margin: -1px;
    min-width: 0;
    /* font-size: 16px; */
}

window#waybar {
    min-width: 39px;
    margin: -2px;
    background: rgba(117, 117, 117, 0.5);
    /* background: transparent; */
    color: white;
    border-radius: 40px;
}
#workspaces {
    background-color: transparent;
}
#workspaces button {
    background-color: rgba(206, 206, 206, 0.541);
    color: #000;
    margin: 3px 12px;
    padding: 8px 0;
    border-radius: 60px;
    min-width: 20px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}
#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.892);
    color: #fff;
    padding: 36px 0;
    transition: all 0.6s cubic-bezier(.2,1.26,.88,.94);
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}
/* the left-most workspaces and the right-most workspaces */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-family: "DepartureMono Nerd Font", "Tourney Expanded", FontAwesome, sans-serif;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    min-width: 25px;
}

#audio {
    background-color: rgba(206, 206, 206, 0.541);
    margin: 2px 6px;
    padding: 8px 0;
    border-radius: 16px;
}
#pulseaudio {
    background-color: transparent;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#pulseaudio.muted {
    background-color: transparent;
    color: #265640;
}
#pulseaudio-slider {
    margin: 4px 0;
    min-height: 100px;
    padding: 6px 0;
    background-color: transparent;
}
#pulseaudio-slider slider {
    border-radius: 10px;
}
#pulseaudio-slider trough {
    min-height: 100px;
    min-width: 10px;
    border-radius: 5px;
    background: rgb(52, 56, 62);
}
#pulseaudio-slider highlight {
    border-radius: 5px;
    background: rgb(45, 240, 45);
}

#hardware {
    background-color: rgba(206, 206, 206, 0.541);
    color: #000;
    margin: 0px 6px;
    padding: 8px 0;
    border-radius: 16px;
}
.hardware-modules {
    font-family: "Bitcount Single Thin";
    font-size: 12px;
    padding: 14px 0;
}
#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: rgb(137, 213, 49);
}
#power-profiles-daemon.performance {
    background-color: transparent;
    color: rgb(231, 40, 40);
}
#power-profiles-daemon.balanced {
    background-color: transparent;
    color: rgb(60, 217, 183);
}

#network {
    background-color: rgba(206, 206, 206, 0.541);
    color: #000;
    margin: 0px 6px;
    padding: 8px 0;
    border-radius: 16px;
}
#network.disconnected {
    background-color: rgba(228, 50, 50, 0.656);
    color: white;
}

#backlight {
    background-color: rgba(206, 206, 206, 0.541);
    color: #000;
    margin: 2px 6px;
    padding: 6px 0;
    border-radius: 16px;
}

#battery {
    background-color: rgba(206, 206, 206, 0.541);
    color: #000;
    margin: 2px 6px ;
    padding: 6px 0;
    border-radius: 16px;
    margin-bottom: 16px;
}
#battery.good {
    background-color: rgb(107, 145, 70);
}
#battery.warning {
    background-color: rgb(222, 148, 68);
}
#battery.warning {
    background-color: rgb(228, 53, 53);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 4px;
}
tooltip label {
  color: white;
}
